name: CAT_A_01
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PROJECTS: RBS_LoanAccountDetails_v2 RBS_FetchFXDealList_v1 RBS_FetchBeneficiaryBanksList_v1 RBS_EnquireBeneficiaryDetails_v1 RBS_FXRateInquiry_v3 RBS_AccountBalanceDetails_v1
jobs:
  build:
    runs-on: self-hosted
    steps:
      
      - name: Generate Build Number
        id: buildnumber
        uses: einaregilsson/build-number@v3
        with:
            token: ${{secrets.github_token}}  
      - uses: actions/checkout@v2

        
      - name: Create Bars Folder
        run: mkdir bars
          
      - name: Authenticate and set context
        uses: redhat-actions/oc-login@v1
        env:
          OPENSHIFT_USER: ${{ secrets.OPENSHIFT_USER }}
          OPENSHIFT_PASSWORD: ${{ secrets.OPENSHIFT_PASSWORD }}
          OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
          OPENSHIFT_NAMESPACE: ${{ secrets.OPENSHIFT_NAMESPACE }}
        with:
          openshift_server_url: https://api.ocp4.eidikointernal.com:6443
          #openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          openshift_username: ${{ env.OPENSHIFT_USER }}
          openshift_password: ${{ env.OPENSHIFT_PASSWORD }}
          insecure_skip_tls_verify: true
          #certificate_authority_data: ${{ secrets.CA_DATA }}
          namespace: ${{ env.OPENSHIFT_NAMESPACE }}
           
      - name: Build All Projects One By One
        run: for f in $PROJECTS; do echo building $f; cd $f ;ant -noinput -buildfile build.xml ; cd ../;done
       
      - name: Docker Build Image for repo ${{ github.repository }} of build number ${{ steps.buildnumber.outputs.build_number }}
        run: |
          docker build -t cat_a_011:v_${{ steps.buildnumber.outputs.build_number }} -f /root/dockerfile .
          rm -r /root/bars/*
          docker images
