name: CAT_A_01
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PROJECTS: RBS_LoanAccountDetails_v2 RBS_FetchFXDealList_v1 RBS_FetchBeneficiaryBanksList_v1 RBS_EnquireBeneficiaryDetails_v1 RBS_FXRateInquiry_v3 RBS_AccountBalanceDetails_v1
jobs:
  build:
    runs-on: self-hosted
    steps:
      
      - name: Generate Build Number
        id: buildnumber
        uses: einaregilsson/build-number@v3
        with:
            token: ${{secrets.github_token}}  
      - uses: actions/checkout@v2

        
      - name: Create Bars Folder
        run: mkdir bars
          
      - name: Authenticate and set context
        uses: redhat-actions/oc-login@v1
        env:
          OPENSHIFT_USER: kubeadmin
          OPENSHIFT_PASSWORD: CxBY8-8DWET-3mY8q-MmYE8
          OPENSHIFT_TOKEN: sha256~rbcLarWMgyKznQir5sa7YSsMox-zGzsAp1rs8Bz-R3g
          OPENSHIFT_NAMESPACE: manoj
        with:
          openshift_server_url: https://console-openshift-console.apps.ocp4.eidikointernal.com/
          #openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          openshift_username: ${{ env.OPENSHIFT_USER }}
          openshift_password: ${{ env.OPENSHIFT_PASSWORD }}
          insecure_skip_tls_verify: true
          #certificate_authority_data: ${{ secrets.CA_DATA }}
          namespace: ${{ env.OPENSHIFT_NAMESPACE }}
           
      - name: Build All Projects One By One
        run: for f in $PROJECTS; do echo building $f; cd $f ;ant -noinput -buildfile build.xml ;mv /root/*.bar ../bars/$f_${{ steps.buildnumber.outputs.build_number }}.bar; cd ../;done
          
      # Runs a set of commands using the runners shell
      - name: Check Bars Folder Existance
        run: |
          cd bars
          ls 
          mkdir /root/bars/dummy
          rm -r /root/bars/*
          cp *.bar /root/bars
      
      - name: Docker Build Image for repo ${{ github.repository }} of build number ${{ steps.buildnumber.outputs.build_number }}
        run: |
          docker build -t cat_a_011:v_${{ steps.buildnumber.outputs.build_number }} -f /root/dockerfile .
          rm -r /root/bars/*
          docker images
