name: CAT_A_01
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  PROJECTS: RBS_LoanAccountDetails_v2 RBS_FetchFXDealList_v1 RBS_FetchBeneficiaryBanksList_v1 RBS_EnquireBeneficiaryDetails_v1 RBS_FXRateInquiry_v3 RBS_AccountBalanceDetails_v1
  OPENSHIFT_USER: ${{ secrets.OPENSHIFT_USER }}
  OPENSHIFT_PASSWORD: ${{ secrets.OPENSHIFT_PASSWORD }}
  OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
  OPENSHIFT_NAMESPACE: ${{ secrets.OPENSHIFT_NAMESPACE }}
  OPENSHIFT_SERVER_RUL: ${{ secrets.OPENSHIFT_SERVER_RUL }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  IMAGE_REGISTRY_USER: ${{ github.actor }}
  IMAGE_REGISTRY_PASSWORD: ${{ github.token }}
  APP_NAME: ""
  APP_PORT: ""
jobs:
  CI:
    runs-on: self-hosted
    steps:
      
      - name: Generate Build Number
        id: buildnumber
        uses: einaregilsson/build-number@v3
        with:
            token: ${{secrets.github_token}}  
      - uses: actions/checkout@v2

        
      - name: Create Bars Folder
        run: mkdir bars
          
      - name: Authenticate OpenShift And Set Context
        uses: redhat-actions/oc-login@v1
        env:
          OPENSHIFT_USER: ${{ secrets.OPENSHIFT_USER }}
          OPENSHIFT_PASSWORD: ${{ secrets.OPENSHIFT_PASSWORD }}
          OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
          OPENSHIFT_NAMESPACE: ${{ secrets.OPENSHIFT_NAMESPACE }}
          OPENSHIFT_SERVER_RUL: ${{ secrets.OPENSHIFT_SERVER_RUL }}
          IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
          IMAGE_REGISTRY_USER: ${{ github.actor }}
          IMAGE_REGISTRY_PASSWORD: ${{ github.token }}
        with:
          openshift_server_url:  ${{ secrets.OPENSHIFT_SERVER_RUL }}
          #openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          openshift_username: ${{ env.OPENSHIFT_USER }}
          openshift_password: ${{ env.OPENSHIFT_PASSWORD }}
          insecure_skip_tls_verify: true
          #certificate_authority_data: ${{ secrets.CA_DATA }}
          namespace: ${{ env.OPENSHIFT_NAMESPACE }}
          
      - name: Check API Resources
        run: oc api-resources
           
      - name: Build All Projects One By One
        run: for f in $PROJECTS; do echo building $f; cd $f ;ant -noinput -buildfile build.xml ; cd ../;done
        
      - name: Determine App Name
        if: env.APP_NAME == ''
        run: |
         echo "APP_NAME=$(basename $PWD)" | tee -a $GITHUB_ENV
 
      - name: Determine Image Tags
        if: env.IMAGE_TAGS == ''
        run: |
         echo "IMAGE_TAGS=latest ${GITHUB_SHA::12}" | tee -a $GITHUB_ENV
                    
           
      - name: Push to registry
        id: push-image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.IMAGE_REGISTRY_USER }}
          password: ${{ env.IMAGE_REGISTRY_PASSWORD }}
     
      - name: Docker Build Image for repo ${{ github.repository }} of build number ${{ steps.buildnumber.outputs.build_number }}
        run: |
          docker build -t cat_a_011:v_${{ steps.buildnumber.outputs.build_number }} -f /root/dockerfile .
          rm -r /root/bars/*
          docker images
